.button-one, .button-two {
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button-one {
    background-color: #ffef4d;
    color: #2A428c;
}

.button-two {
    background-color: #2A428c;
    color: #ffef4d;
}